<html ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <title>Lista Telefonica</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/app.css">

  <script src="lib/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/operadorasAPIService.js"></script>
  <script src="js/controllers/contatosAPIService.js"></script>
  <script src="js/value/configValue.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/serialGenerator.js"></script>
  <script src="js/controllers/listaTelefonicaController.js"></script>
  <script type="text/javascript" src="lib/bower_components/angular-ui-mask/dist/mask.js"></script>
</head>

<body ng-controller="listaTelefonicaController">
  <div class="jumbotron">
    <h3 class="title" ng-bind="titulo"></h3>
    <input ng-show="contatos.length >0" class="form-control" placeholder="O que você está buscando" ng-model="busca" />
    <table ng-show="contatos.length > 0" class="table">
      <tr>
        <th></th>
        <th>Serial</th>
        <th><a href="" ng-click="ordernarPor('nome');">Nome</a></th>
        <th><a href="" ng-click="ordernarPor('telefone');">Telefone</a></th>
        <th>Operadora</th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:criterioDeBusca:direcaoDaOrdenacao">
        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
        <td>{{contato.serial}}</td>
        <td>{{contato.nome | uppercase}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | lowercase}}</td>
      </tr>
    </table>
  </hr>
  <form name="contatoForm">
    <input class="form-control" name="nome" ng-minlength="3" placeholder="Nome" type="text" ng-model="contato.nome" ng-required="true"/>
    <span class="error" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Campo nome é obrigatório</span>
    <span class="error" ng-show="contatoForm.nome.$error.minlength">Campo nome deve ter no minimo 3 caracteres</span>
        <input class="form-control" name="telefone" ui-mask="99999-9999" type="text" ng-model="contato.telefone" ng-required="true"/>
    <span class="error" ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty">Campo telefone é obrigatório</span>
    <select class="form-control" name="operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-model="contato.operadora">
      <option value="">Selecione uma operadora</option>
    </select>
    <span class="error" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">Selecione uma operadora</span>
  </form>

  <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato);">Adicionar Contato</button>
  <button class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos);" ng-click="apagarContato(contatos)">Apagar Contato</button>
</div>
<div style="text-align:center">Criado por Cristian Ferreira</div>
</body>

</html>
