<html ng-app="listaTelefonica">
<head>
  <title>Lista Telefonica</title>
  <script src="angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <style>
  .jumbotron{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .table{
    margin-top: 20px;
  }

  .form-control{
    margin-bottom: 5px;
  }

  </style>

  <script>
  angular.module("listaTelefonica",['ui.mask']);
  angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
    $scope.titulo = "Lista Telefonica";
    $scope.contatos = [
      {nome: "Cristian Ferreira", telefone: "(51)980222209"},
      {nome: "Sheila Moreira", telefone: "(51)999999999"},
      {nome: "Marlon Furtado", telefone: "(51)988832223"}
    ];

    $scope.operadoras = [
      {nome: "oi", codigo:1, categoria: "Celular"},
      {nome: "claro", codigo:2, categoria: "Celular"},
      {nome: "TIM", codigo:3, categoria: "Celular"},
      {nome: "vivo", codigo:4, categoria: "Celular"},
      {nome: "GVT", codigo:5, categoria: "Fixo"},
      {nome: "Embratel", codigo:6, categoria: "Fixo"}
    ];

    $scope.adicionarContato = function(contato){
      $scope.contatos.push(contato);
      delete $scope.contato;
      limparCampo();
    };

    $scope.limparCampo = function(){
      $scope.nome = "";
      $scope.telefone = "";
    };
  });



  </script>

</head>

<body ng-controller="listaTelefonicaController">

  <div class="jumbotron">
    <h3 ng-bind="titulo"></h3>

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Operadora</th>
      </tr>
      <tr ng-repeat="contato in contatos">
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome}}</td>
      </tr>
    </table>
  </hr>
  <input class="form-control" placeholder="Nome" type="text" ng-model="contato.nome" />
  <input class="form-control"  ui-mask="(99)99999-9999" type="text" ng-model="contato.telefone" />
  <select class="form-control" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" ng-model="contato.operadora">
    <option value="">Selecione uma operadora</option>
  </select>
  {{contato}}
  <button class="btn btn-primary" ng-disabled="!contato.nome || !contato.telefone" ng-click="adicionarContato(contato);">Adicionar contato</button>
</div>

</body>

</html>
