<html ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <title>Lista Telefonica</title>
  <script src="angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <style>
  .jumbotron{
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .table{
    margin-top: 20px;
  }

  .form-control{
    margin-bottom: 5px;
  }

  .title{
    margin-bottom: 20px;
  }

  .selecionado{
    background-color: yellow;
  }
  .negrito{
    font-weight: bold;
  }

  .error{
     color: #e23939;
     display: flex;
     padding-bottom: 5px;
  }
  </style>

  <script>
  angular.module("listaTelefonica",['ui.mask']);
  angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
    $scope.titulo = "Lista Telefonica";
    $scope.contatos = [
      {nome: "Cristian", telefone:"9999-9999"},
      {nome: "Thais", telefone:"9999-9999"},
    ];

    $scope.operadoras = [
      {nome: "oi", codigo:1, categoria: "Celular"},
      {nome: "claro", codigo:2, categoria: "Celular"},
      {nome: "TIM", codigo:3, categoria: "Celular"},
      {nome: "vivo", codigo:4, categoria: "Celular"},
      {nome: "GVT", codigo:5, categoria: "Fixo"},
      {nome: "Embratel", codigo:6, categoria: "Fixo"}
    ];

    $scope.ordernarPor = function(campo){
        $scope.criterioDeBusca = campo;
        $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
    };

    $scope.adicionarContato = function(contato){
      $scope.contatos.push(contato);
      delete $scope.contato;
      $scope.contatoForm.$setPristine();

    };

    $scope.apagarContato = function(contatos){
        $scope.contatos = contatos.filter(function(contato){
           if(!contato.selecionado) return contato;
        });
    };

    $scope.isContatoSelecionado = function(contatos){
        return contatos.some(function(contato){
          return contato.selecionado;
        });
    };
  });



  </script>

</head>

<body ng-controller="listaTelefonicaController">
  <div class="jumbotron">
    <h3 class="title" ng-bind="titulo"></h3>
    <input ng-show="contatos.length >0" class="form-control" placeholder="O que você está buscando" ng-model="busca" />
    <table ng-show="contatos.length > 0" class="table">
      <tr>
        <th></th>
        <th><a href="" ng-click="ordernarPor('nome');">Nome</a></th>
        <th><a href="" ng-click="ordernarPor('telefone');">Telefone</a></th>
        <th>Operadora</th>
      </tr>
      <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:busca | orderBy:criterioDeBusca:direcaoDaOrdenacao">
        <td><input type="checkbox" ng-model="contato.selecionado"/></td>
        <td>{{contato.nome | uppercase}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | lowercase}}</td>
      </tr>
    </table>
  </hr>
  <form name="contatoForm">
    <input class="form-control" name="nome" ng-minlength="3" placeholder="Nome" type="text" ng-model="contato.nome" ng-required="true"/>
    <span class="error" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">Campo nome é obrigatório</span>
    <span class="error" ng-show="contatoForm.nome.$error.minlength">Campo nome deve ter no minimo 3 caracteres</span>
        <input class="form-control" name="telefone" ui-mask="99999-9999" type="text" ng-model="contato.telefone" ng-required="true"/>
    <span class="error" ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty">Campo telefone é obrigatório</span>
    <select class="form-control" name="operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-model="contato.operadora">
      <option value="">Selecione uma operadora</option>
    </select>
    <span class="error" ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty">Selecione uma operadora</span>
  </form>

  <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato);">Adicionar Contato</button>
  <button class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos);" ng-click="apagarContato(contatos)">Apagar Contato</button>
</div>
<div style="text-align:center">Criado por Cristian Ferreira</div>
</body>

</html>
